extends ../layout/layout.pug

block head
    - var title = "Community - "
    include ../layout/head-en.pug

block content
    div(style="position: relative;overflow: hidden;")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header header--black"
        include ../layout/header-en.pug
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="wrapper" style="max-width: 620px;position: relative;z-index: 1; text-align: center")
            h2(class="feature__title feature__black") Community
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="download wrapper")
            div(class="item")
                img(src="https://b3log.org/images/brand/hacpai-128.png")
                h3 LiuYun
                a(class="download__link" href="https://liuyun.io" target="_blank") User forum
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-github.png")
                h3 GitHub
                a(class="download__link" href="https://github.com/siyuan-note/siyuan" target="_blank" rel="nofollow") SiYuan Repo
                a(class="download__link" href="https://github.com/siyuan-note/bazaar" target="_blank" rel="nofollow") Marketplace Repo
                a(class="download__link" href="https://github.com/orgs/siyuan-note/projects/1" target="_blank" rel="nofollow") Roadmap
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-twitter.png")
                h3 Twitter
                a(class="download__link" href="https://twitter.com/b3logos" target="_blank" rel="nofollow") @b3logos - Twitter
        div(class="feature__hr")
        div(class="feature__hr")
        include ../layout/footer-en.pug
