extends ../layout/layout.pug

block head
    - var title = "Community - "
    include ../layout/head-en.pug

block content
    div(style="position: relative;overflow: hidden;")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header header--black"
        include ../layout/header-en.pug
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="wrapper" style="max-width: 620px;position: relative;z-index: 1; text-align: center")
            h2(class="feature__title feature__black") Community
            div(class="feature__hr")
            div(style="opacity: 0.75;color: #586069;") A single spark can start a prairie fire
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="download wrapper")
            div(class="item")
                img(src="https://b3log.org/images/brand/hacpai-128.png")
                h3 LianDi
                a(class="download__link" href="https://ld246.com/domain/siyuan" target="_blank") SiYuan
                a(class="download__link" href="https://ld246.com/article/1640266171309" target="_blank") User Community Summary
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-github.png")
                h3 GitHub
                a(class="download__link" href="https://github.com/siyuan-note/siyuan" target="_blank" rel="nofollow") SiYuan - GitHub
        div(class="feature__hr")
        include ../layout/footer-en.pug
