extends ../layout/layout.pug

block head
  - var title = "Pricing - "
    include ../layout/head-en.pug

block content
    div(style="position: relative;")
        div(style="position: absolute;overflow: hidden;height: 100%;width: 100%;")
            img(class="home__bg" src="https://b3log.org/siyuan/static/home.svg")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header header--black"
        include ../layout/header-en.pug
        div(class="feature__hr")
        div(class="wrapper price__wrap" style="position: relative;z-index: 1;")
            div(class="price--white price" style="position: sticky;top: 0;z-index:1")
                div(class="item")
                div(class="item item--block")
                    h3 Free
                    div(class="item__money") $0
                        span Lifetime
                    |
                    | &nbsp;
                    a(href="download.html" class="home__download home__download--outline") Download
                    div(class="price__feature")
                        div Basic functions
                div(class="feature__hr")
                div(class="item item--block")
                    h3 PRO Features
                    div(class="item__money")
                        small
                            del $96
                        | &nbsp;$64
                        span Lifetime
                    | Pay once, use for life
                    a(href="https://liuyun.io/one-time-pay/siyuan" target="_blank" class="home__download") Upgrade
                    div(class="price__feature")
                        div Integrate third-party S3 data sync and backup (You need to connect to the third-party S3 service yourself)
                        div Integrate third-party WebDAV data sync and backup (You need to connect to the third-party WebDAV service yourself,&nbsp;
                            a(href="https://help.jianguoyun.com/?p=2064" target="_blank" class="link") Nutstore is not supported
                            |)
                div(class="feature__hr")
                div(class="item item--block")
                    h3 Subscription
                    div(class="item__money")
                        small
                            del $296
                        | &nbsp;$148
                        span Lifetime
                    | 🔥 Seats are limited
                    a(href="https://liuyun.io/subscribe/siyuan" target="_blank" class="home__download") Subscribe
                    div(class="price__feature")
                        div Cloud assets hosting (Please refer to the User Guide - Assets hosting)
                        div Official cloud space size 8G
                        div Official data sync and backup
                        div Cloud Inbox
                        div S3 data sync and backup (You need to connect to the third-party S3 service yourself)
                        div WebDAV data sync and backup (You need to connect to the third-party WebDAV service yourself.&nbsp;
                            a(href="https://help.jianguoyun.com/?p=2064" target="_blank" class="link") Nutstore is not supported
                            | )
            div
                div(class="price price--hide")
                    div(class="item item--label") Basic functions
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="price price--hide")
                    div(class="item item--label")
                        span(class="tip" aria-label="Please refer to the User Guide - Assets hosting")
                            img(src="https://b3log.org/siyuan/static/icon-info.svg")
                        | Cloud assets hosting
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="price price--hide")
                    div(class="item item--label") Cloud Inbox
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="price price--hide")
                    div(class="item item--label")
                        span(class="tip" aria-label="The size of cloud space occupied by sync, backup and assets hosting, it will be completely cleared after the subscription expires")
                            img(src="https://b3log.org/siyuan/static/icon-info.svg")
                        | Official cloud space size
                    div(class="item") -
                    div(class="item") -
                    div(class="item") 8G
                div(class="price price--hide")
                    div(class="item item--label") Official data sync and backup
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="price price--hide")
                    div(class="item item--label")
                        | Integrate third-party S3 data sync and backup
                        br
                        small
                            | (You need to connect to the third-party S3 service yourself)
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="price price--hide")
                    div(class="item item--label")
                        | Integrate third-party WebDAV data sync and backup
                        br
                        small
                            | (You need to connect to the third-party WebDAV service yourself,&nbsp;
                            a(href="https://help.jianguoyun.com/?p=2064" target="_blank" class="link") Nutstore is not supported
                            | )
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-x.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
                    div(class="item")
                        img(src="https://b3log.org/siyuan/static/icon-check.svg")
        div(class="feature__hr")
        div(class="feature wrapper faq")
            div(class="faq__inner")
                h2(class="feature__title feature__title--1") FAQ
                div(class="item")
                    h3 Is a refund supported after subscription?
                    p Refunds are <b>not supported</b> after payment for the subscription.
                    p If you have the intension for a subscription, it is highly recommanded to firstly enable the trial subscription in SiYuan Desktop - Settings - Account, and consider paying for the subscription only if you are satisfied. <b>Do not act impulsively</b>.
                div(class="item")
                    h3 Why is the official synchronization space only 8GB? Are there plans to expand it in the future, such as increasing it to hundreds of GB like other cloud note services?
                    p The official synchronization service of SiYuan has higher traffic costs compared to cloud note services. Providing 8GB of cloud space for each user is the current limit we can afford.
                    p If you have a high demand for cloud synchronization space, it is recommended to use third-party S3 synchronization services (included in the subscription or purchased separately as a feature).
                div(class="item")
                    h3 How is the price calculated for resubscribing after a subscription interruption?
                    p The renewal price is permanently based on the price at the time of the first subscription. Even if the subscription is interrupted and renewed later, the price will still be the same as the first subscription.
                div(class="item")
                    h3 What is "third-party data sync and backup"?
                    p This means you can <b>set up</b> your own S3 (or WebDAV) service (such as purchasing from Amazon, Azure cloud, etc.) and integrate it with SiYuan for synchronization and backup.

        include ../layout/footer-en.pug
