extends ../layout/layout.pug

block head
  - var title = "Pricing - "
    include ../layout/head-en.pug

block content
    div(style="position: relative;")
        div(style="position: absolute;overflow: hidden;height: 100%;width: 100%;")
            img(class="home__bg" src="https://b3log.org/siyuan/static/home.svg")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header header--black"
        include ../layout/header-en.pug
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="wrapper" style="position: relative;z-index: 1;")
            div(style="text-align: center")
                h2(class="feature__title feature__black") Pricing
            div(class="feature__hr")
            div(class="fn__flex price" style="position: sticky;top: 0")
                div(class="item item--empty")
                div(class="item")
                    h3 Free
                    div(class="item__money") $0
                        span Lifetime
                    |
                    | &nbsp;
                    a(href="download.html" class="home__download home__download--outline") Download
                    div(class="price__feature")
                        div Completely offline
                        div
                            a(href="https://github.com/siyuan-note/siyuan" class="link" target="_blank") Completely Open source
                        div Multiple workspaces
                        div Database
                        div API
                        div Markdown
                        div Chinese and Western automatic spaces
                        div Table merge cells
                        div Convert web images to local files
                        div Block attributes
                        div Block bookmark
                        div Block zoom-in
                        div List outline
                        div Parent-child document
                        div Daily notes
                        div Hierarchy tags
                        div Template snippets
                        div Data history
                        div Clean up unreferenced assets
                        div Relation graph
                        div Block-level ref bidirectional link
                        div Backlinks and Mentions
                        div Block dynamic query embedding
                        div Block ref floating window
                        div
                            a(class="link" href="https://github.com/siyuan-note/siyuan/issues/2249" target="_blank") Virtual ref
                        div PDF annotation link
                        div Split screen editing
                        div Use on browser
                        div Record layout
                        div Custom theme
                        div Custom icon
                        div Theme marketplace
                        div Template marketplace
                        div Icon marketplace
                        div Widget marketplace
                        div Plugin marketplace
                        div Docker hosting
                        div Desktop hosting
                        div Android hosting
                        div Import Markdown
                        div Word Paste assets
                        div Web clipping and pulling pictures to local
                        div Export PDF
                        div Export HTML
                        div Export Word
                        div Export Markdown
                        div Export block refs as footnotes
                        div Copy and paste to WeChat, Zhihu, Yuque
                        div Account login two-factor verification
                        div Account login WeChat reminder
                        div Password lock screen
                div(class="feature__hr")
                div(class="item item--m")
                    h3 PRO Features
                    div(class="item__money")
                        small
                            del $96
                        | &nbsp;$64
                        span Lifetime
                    | Pay once, use for life
                    a(href="https://liuyun.io/one-time-pay/siyuan" target="_blank" class="home__download") Upgrade
                    div(class="price__feature")
                        div PRO badge
                        div S3/WebDAV data sync and backup
                        div Search asset content
                        div Export PDF/Image with watermark
                div(class="feature__hr")
                div(class="item item--s")
                    h3 Subscription
                    div(class="item__money")
                        small
                            del $296
                        | &nbsp;$148
                        span Lifetime
                    | 🔥 Seats are limited
                    a(href="https://liuyun.io/subscribe/siyuan" target="_blank" class="home__download") Subscribe
                    div(class="price__feature")
                        div VIP badge
                        div Official data sync and backup
                        div Cloud assets hosting
                        div Cloud space size 8G
                        div Cloud Inbox
                        div S3/WebDAV data sync and backup
                        div Search asset content
                        div Export PDF/Image with watermark
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price1.png")
                    h3 Basic
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Completely offline
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    a(href="https://github.com/siyuan-note/siyuan" class="link" target="_blank") Completely Open source
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Multiple workspaces
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Spaced repetition
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    span(class="tip" aria-label="Need to configure to access OpenAI")
                        img(src="https://b3log.org/siyuan/static/icon-info.svg")
                    | Artificial intelligence
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Database
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") API
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price2.png")
                    h3 Editing
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Markdown
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Chinese and Western automatic spaces
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Table merge cells
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Convert web images to local files
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Block attributes
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Block bookmark
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Block zoom-in
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") List outline
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Parent-child document
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Daily notes
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Hierarchy tags
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Template snippets
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Data history
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Clean up unreferenced assets
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price3.png")
                    h3 Linking
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Relation graph
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Block-level ref bidirectional link
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Backlinks and Mentions
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Block dynamic query embedding
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Block ref floating window
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    a(href="https://github.com/siyuan-note/siyuan/issues/2249" class="link" target="_blank") Virtual ref
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") PDF annotation link
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price4.png")
                    h3 Window and Tab
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Split screen editing
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Use on browser
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Record layout
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price5.png")
                    h3 Appearance
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Custom theme
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Custom icon
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price6.png")
                    h3 Community marketplace
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Theme
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Template
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Icon
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Widget
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Plugin
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price7.png")
                    h3 Self-hosting
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Docker hosting
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Desktop hosting
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Mobile hosting
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price8.png")
                    h3 Import and Export
                div(class="item")
                div(class="item")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Import Markdown
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Word Paste assets
                div(class="item")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                      img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    span(class="tip" aria-label="Need install browser extension")
                        img(src="https://b3log.org/siyuan/static/icon-info.svg")
                    | Web clipping and pulling pictures to local
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Export Markdown
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Export Word
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Export PDF
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Export HTML
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Export block refs as footnotes
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                   span(class="tip" aria-label="Images need to be uploaded to the cloud assets hosting first")
                        img(src="https://b3log.org/siyuan/static/icon-info.svg")
                   | Copy and paste to WeChat, Zhihu, Yuque
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__imgimg(src=static/icon-price9.png")
                    h3 Security
                div(class="item")
                div(class="item item--m")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Account login two-factor verification
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Password lock screen
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    img(class="item__img" src="https://b3log.org/siyuan/static/icon-price10.svg")
                    h3 Member's privileges
                div(class="item")
                div(class="item item--m")
                div(class="item item--s")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Member badge
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Official data sync and backup
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Cloud assets hosting
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty")
                    span(class="tip" aria-label="The size of cloud space occupied by sync, backup and assets hosting")
                        img(src="https://b3log.org/siyuan/static/icon-info.svg")
                    | Cloud space size
                div(class="item") -
                div(class="item") -
                div(class="item item--s") 8G
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Cloud Inbox
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") S3/WebDAV data sync and backup
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Search asset content
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
            div(class="price price--hide fn__flex")
                div(class="item item--empty") Export PDF/Image with watermark
                div(class="item")
                    img(src="https://b3log.org/siyuan/static/icon-x.svg")
                div(class="item item--m")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
                div(class="item item--s")
                    img(src="https://b3log.org/siyuan/static/icon-check.svg")
        div(class="feature__hr")
        include ../layout/footer-en.pug
