extends ../layout/layout.pug

block head
    - var title = "Privacy Policy - "
    include ../layout/head-en.pug

block content
    div(style="position: relative;overflow: hidden;")
        img(class="home__bg" src="https://b3log.org/siyuan/static/home.svg")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header header--black"
        include ../layout/header-en.pug
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="wrapper" style="max-width: 620px;position: relative;z-index: 1;min-height: 90vh")
            div(style="text-align: center")
                h2(class="feature__title feature__black") Privacy Policy
            div(class="feature__hr")
            div(class="home__desc")
                ul
                    li
                        p Release Date: February 11, 2022
                    li
                        p Last updated: March 21, 2022
                p SiYuan's privacy policy document to declare its commitment to user privacy protection.
                h3 Will personal information or data be collected?
                ul
                    li
                        p Does not collect user personal information and usage data
                    li
                        p All data is kept on the device under full control of the user
                h3 Developer Information and Contact
                ul
                    li
                        p SiYuan is designed and developed by Yunnan Liandi Technology Co., Ltd.
                    li
                        p Contact via 845765@qq.com
                h3 View Privacy Policy
                ul
                    li
                        p By visiting the webpage
                            a(href="https://b3log.org/siyuan/en/privacy.html")  https://b3log.org/siyuan/en/privacy.html
                    li
                        p Click "Help" in the software, and open the "Privacy Policy and License" document in the opened "SiYuan User Guide"
        div(class="feature__hr")
        include ../layout/footer-en.pug
