footer(class="footer")
    div(class="wrapper footer__inner")
        span(class="item" style="opacity: .75;") 滇ICP备14007358号-1     © 2023
            span(style="white-space: nowrap;")  Yunnan Liandi Technology Co., Ltd.
        a(class="item" href="download.html") Download
        a(class="item" href="pricing.html") Pricing
        a(class="item" href="eula.html") User Agreement
        a(class="item" href="privacy.html") Privacy Policy
        a(class="item" href="https://github.com/orgs/siyuan-note/projects/1" target="_blank") Roadmap
        a(class="item" href="../?lang=cn") 中文
        span(class="fn__flex-1")
        div(class="fn__flex")
            a(class="icon" href="https://twitter.com/b3logos" target="_blank" rel="nofollow" title="Twitter")
                img(src="https://b3log.org/siyuan/static/logo-twitter.png" width="24px" height="24px")
            a(class="icon" href="https://github.com/siyuan-note/siyuan" target="_blank" rel="nofollow" title="GitHub")
                img(src="https://b3log.org/siyuan/static/logo-github.png" width="24px" height="24px")
            a(class="icon" href="https://liuyun.io" target="_blank" title="LiuYun")
                svg(viewBox="0 0 32 32" width="24px" height="24px")
                    path(fill="#d23f31" d="M5.787 17.226h17.033l5.954 9.528c0.47 0.752 0.003 1.361-1.042 1.361h-15.141z")
                    path(d="M10.74 3.927h17.033c1.045 0 1.512 0.609 1.042 1.361l-5.954 9.528h-19.872l6.379-10.209c0.235-0.376 0.849-0.681 1.372-0.681z")
                    path(d="M2.953 17.226h2.839l6.804 10.889h-1.892c-0.523 0-1.137-0.305-1.372-0.681z")
