header(class=headerClass)
    div.wrapper.fn__flex
        a(href="https://b3log.org/siyuan" class="header__logo")
            img(src="https://b3log.org/siyuan/static/logo.svg")
            h1 思源笔记
        div(class="fn__flex-1")
        a(class="header__a" href="download.html") 下载
        a(class="header__a" href="pricing.html") 定价
        a(class="header__a" href="https://github.com/siyuan-note/siyuan/projects" target="_blank") 路线图
        a(class="header__a" href="community.html" target="_blank") 社区
        a(class="header__a" href="en/?lang=en") English
