meta(name="description", content= title + "SiYuan - Privacy-first personal knowledge management system that supports Markdown, block-level ref, and bidirectional links")
meta(property="og:title" content= title + "SiYuan - Privacy-first personal knowledge management system that supports Markdown, block-level ref, and bidirectional links")
meta(property="og:description" content= title + "SiYuan - Privacy-first personal knowledge management system that supports Markdown, block-level ref, and bidirectional links")
meta(property="og:site_name" content= title + "SiYuan")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:description" content= title + "SiYuan - Privacy-first personal knowledge management system that supports Markdown, block-level ref, and bidirectional links")
meta(name="twitter:title" content= title + "SiYuan - Privacy-first personal knowledge management system that supports Markdown, block-level ref, and bidirectional links")
title #{title}SiYuan - Privacy-first personal knowledge management system that supports Markdown, block-level ref, and bidirectional links
