header(class=headerClass)
    div.wrapper.fn__flex
        a(href="https://b3log.org/siyuan" class="header__logo")
            img(src="https://b3log.org/siyuan/static/logo.svg")
            h1 SiYuan
        div(class="fn__flex-1")
        a(class="header__a" href="download.html") Download
        a(class="header__a" href="pricing.html") Pricing
        a(class="header__a" href="https://github.com/siyuan-note/siyuan/projects" target="_blank") Roadmap
        a(class="header__a" href="community.html" target="_blank") Community
        a(class="header__a" href="../?lang=cn") 中文
