doctype html
html(lang="zh-cmn-Hans")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="robots", content="index,follow,archive")
        meta(name="description", content="思源笔记 - 本地优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接")
        meta(name="copyright", content="B3log")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(http-equiv="Window-target" content="_top")
        meta(property="og:locale" content="zh_CN")
        meta(property="og:title" content="思源笔记 - 本地优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接")
        meta(property="og:description" content="思源笔记 - 本地优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接")
        meta(property="og:image" content="https://b3log.org/images/brand/siyuan-128.png")
        meta(property="og:url" content="https://b3log.org/siyuan")
        meta(property="og:site_name" content="思源笔记")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:description" content="思源笔记 - 本地优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接")
        meta(name="twitter:title" content="思源笔记 - 本地优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接")
        meta(name="twitter:image" content="https://b3log.org/images/brand/siyuan-128.png")
        meta(name="twitter:url" content="https://b3log.org/siyuan")
        meta(name="twitter:site" content="@b3logos")
        meta(name="twitter:creator" content="@b3logos")
        title 思源笔记 - 本地优先的个人知识管理系统，支持 Markdown 排版、块级引用和双向链接
        link(rel="apple-touch-icon", href="https://b3log.org/images/brand/siyuan-128.png")
        link(rel="preconnect", href="https://ld246.com")
        link(rel="preconnect", href="https://release.b3log.org")
        link(rel="preconnect", href="https://github.com")
        link(rel="icon", type="image/png", href="https://b3log.org/images/brand/siyuan-128.png")
        link(rel="shortcut icon", type="image/x-icon", href="https://b3log.org/images/brand/siyuan-128.png")
        link(type="text/css" rel="stylesheet" href="https://b3log.org/siyuan/static/base.css")
    body
        script.
            const lang = 'cn';
            if (navigator.language.indexOf("zh") === -1 && 0 > window.location.search.indexOf("lang")) {
                window.location.href = "en/"
            }
    block content
    include footer.pug
