.important {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(252, 41, 41, 0.12);
    border-radius: 3px;
    color: #d23f31;
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.bg {
    position: relative;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/bg2.jpg);
}

.first-screen {
    height: 1080px;
}

.header-a-first.header-a:before {
    border-radius: 0 0 0 3px;
}

.first-screen .panel {
    flex-direction: column;
    transition: all .3s;
    height: 1014px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.first-screen .required {
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 1);
    z-index: 3;
    position: relative;
    top: -50px;
    color: #fff;
    line-height: 50px;
}

.first-screen .scroll {
    overflow: hidden;
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 0 10px;
    color: #4285f4;
    text-shadow: 0 0 1px rgba(66, 133, 244, 1);
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 3px;
}

.first-screen .scroll ul {
    animation: scroll 15s cubic-bezier(0.545, 0.035, 0.255, .6) normal forwards;
    line-height: 54px;
    list-style: none;
}

@keyframes scroll {
    0% {
        transform: translateY(0px)
    }

    5% {
        transform: translateY(0px)
    }

    10% {
        transform: translateY(-54px)
    }

    15% {
        transform: translateY(-54px)
    }

    20% {
        transform: translateY(-108px)
    }

    25% {
        transform: translateY(-108px)
    }

    30% {
        transform: translateY(-162px)
    }

    35% {
        transform: translateY(-162px)
    }

    40% {
        transform: translateY(-216px)
    }

    45% {
        transform: translateY(-216px)
    }

    50% {
        transform: translateY(-270px)
    }

    55% {
        transform: translateY(-270px)
    }

    60% {
        transform: translateY(-324px)
    }

    65% {
        transform: translateY(-324px)
    }

    70% {
        transform: translateY(-378px)
    }

    75% {
        transform: translateY(-378px)
    }

    80% {
        transform: translateY(-432px)
    }

    85% {
        transform: translateY(-432px)
    }

    90% {
        transform: translateY(-486px)
    }

    95% {
        transform: translateY(-486px)
    }

    100% {
        transform: translateY(-486px)
    }
}

#firstCanvas {
    position: absolute;
    top: 0;
}

.first-bg {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.second-screen .panel-abstract {
    width: 380px;
}

.third-screen .fn__flex {
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 50px;
    padding: 0 30px 50px 30px;
}

.third-screen .fn__flex:last-child {
    border-bottom-width: 0;
}

.third-screen img {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .bg {
        height: 360px;
    }

    .second-screen .panel-content h2 {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
    }

    .second-screen .btn {
        float: none;
    }

    .second-screen .btn:last-child {
        width: 271px;
        margin-right: auto;
    }

    .third-screen img {
        margin: 0 0 30px 0 !important;
        width: 100%;
    }
}