extends ../layout/layout.pug

block head
  - var title = "数码荔枝 - 代理经销商 - "
    include ../layout/head.pug

block content
    div(style="position: relative;overflow: hidden;")
        img(class="home__bg" src="https://b3log.org/siyuan/static/home.svg")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header--black header"
        include ../layout/header.pug
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="wrapper" style="max-width: 620px;position: relative;z-index: 1;min-height: 90vh")
            div(style="text-align: center")
                h2(class="feature__title feature__black") 授权证明
            div(class="feature__hr")
            p
                strong 云南链滴科技有限公司&nbsp;
                | 授权&nbsp;
                strong 「数码荔枝」&nbsp;
                | 为大中国区官方合作伙伴，负责以下软件在中国的销售事宜&nbsp;
                strong 思源笔记&nbsp;
            p 该合作伙伴的销售渠道&nbsp;
                a(href="https://lizhi.shop" target="_blank" rel="nofollow") https://lizhi.shop
                |  /&nbsp;
                a(href="https://digitalychee.taobao.com" target="_blank" rel="nofollow") https://digitalychee.taobao.com
            p
                img(width="660" height="330" src="https://b3log.org/siyuan/static/distributors-lizhi.png" alt="数码荔枝")
            h2 AUTHORIZATION CERTIFICATE
            p We,&nbsp;
                strong Yunnan Liandi Technology Co., Ltd.&nbsp;
                | the developer of&nbsp;
                strong SiYuan&nbsp;
                | authorizes&nbsp;
                strong DIGITALYCHEE &nbsp;
                | as our official partner in China, Responsible for the sales of the following product(s)&nbsp;
                strong SiYuan&nbsp;
            p The sales channels of this partner&nbsp;
                a(href="https://lizhi.shop" target="_blank" rel="nofollow") https://lizhi.shop
                |  /&nbsp;
                a(href="https://digitalychee.taobao.com" target="_blank" rel="nofollow") https://digitalychee.taobao.com
        div(class="feature__hr")
        include ../layout/footer.pug
