extends layout/layout.pug

block head
    - var title = "下载 - "
    include layout/head.pug

block content
    div(style="position: relative;overflow: hidden;")
        img(class="home__bg" src="https://b3log.org/siyuan/static/home.svg")
        img(style="position: absolute" src="https://b3log.org/siyuan/static/img-bg4.svg")
        - var headerClass = "header--black header"
        include layout/header.pug
        div(class="feature__hr")
        div(class="feature__hr")
        div(class="wrapper" style="max-width: 620px;position: relative;z-index: 1;")
            div(style="text-align: center")
                h2(class="feature__title feature__black") 下载
            div(class="feature__hr")
            div(class="download__address"  id="download")
                a(style="display: none" target="_blank" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-mac.dmg" class="home__download" data-os="macOS") Intel 安装包
                    span 升级需要再次下载
                a(style="display: none" target="_blank" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-mac-arm64.dmg" class="home__download" data-os="macOS") M1 安装包
                    span 升级需要再次下载
                a(target="_blank" href="https://www.microsoft.com/store/apps/9P7HPMXP73K4" class="home__download" data-os="Windows") 微软应用商店
                    span 支持一键升级
                a(target="_blank" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-win.exe" class="home__download" data-os="Windows") 64 位安装包
                    span 升级需要再次下载
                a(style="display: none" target="_blank" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4.apk" class="home__download" data-os="Android") 安卓安装包
                    span 升级需要再次下载
                a(style="display: none" target="_blank" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-linux.AppImage" class="home__download" data-os="Linux") Linux AppImage
                    span 升级需要再次下载
            div(style="opacity: 0.75;color: #586069;font-size: 12px;text-align: center;margin-top: 16px;")
                span 如果下载速度过慢，可尝试通过
                a(target="_blank" rel="nofollow" href="https://pan.baidu.com/s/1ivC6QGYBZSC1E_-ZeS2Omg?pwd=open") 百度网盘下载
            div(style="opacity: 0.75;color: #586069;font-size: 12px;text-align: center;margin-top: 32px;")
                em “你若安好，便是晴天”
        div(class="feature__hr")
        div(class="download wrapper")
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-windows.png")
                h3 Windows
                a(class="download__link" rel="nofollow" href="https://www.microsoft.com/store/apps/9P7HPMXP73K4" target="_blank") 微软应用商店
                a(class="download__link" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-win.exe" target="_blank") 64 位
                a(class="download__link" href="https://github.com/siyuan-note/siyuan" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-macOS.png")
                h3 macOS
                a(class="download__link" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-mac.dmg" target="_blank") Intel
                a(class="download__link" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-mac-arm64.dmg" target="_blank") Apple
                a(class="download__link" href="https://github.com/siyuan-note/siyuan" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-linux.png")
                h3 Linux
                a(class="download__link" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-linux.AppImage" target="_blank") AppImage
                a(class="download__link" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4-linux.tar.gz" target="_blank") tar.gz
                a(class="download__link" href="https://github.com/siyuan-note/siyuan" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-android.png")
                h3 Android
                a(class="download__link" href="https://appgallery.huawei.com/app/C105558879" target="_blank") 华为应用市场
                a(class="download__link" href="https://app.mi.com/details?id=org.b3log.siyuan" target="_blank") 小米应用商店
                a(class="download__link" href="https://play.google.com/store/apps/details?id=org.b3log.siyuan" target="_blank") Google Play
                div
                    a(class="download__link" href="https://www.coolapk.com/apk/292664" target="_blank") 酷安
                    |&nbsp;&nbsp;
                    a(class="download__link" rel="nofollow" href="https://release.b3log.org/siyuan/siyuan-2.7.4.apk" target="_blank") APK
                    |&nbsp;&nbsp;
                    a(class="download__link" href="https://github.com/siyuan-note/siyuan-android" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-ios.png")
                h3 iPhone/iPad
                a(class="download__link" href="https://apps.apple.com/cn/app/siyuan/id1583226508" target="_blank" rel="nofollow") App Store
                a(class="download__link" href="https://testflight.apple.com/join/BBLHMJ4g" target="_blank" rel="nofollow") TestFlight
                a(class="download__link" href="https://github.com/siyuan-note/siyuan-ios" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-chromium.png")
                h3 浏览器扩展
                a(class="download__link" href="https://chrome.google.com/webstore/detail/siyuan/hkcgjbeblifaincobbcfiffbpgoafepk" target="_blank") Chrome
                a(class="download__link" href="https://microsoftedge.microsoft.com/addons/detail/siyuan/lclhdlhleinlppggbbgimbekofanbkcf" target="_blank") Edge
                a(class="download__link" href="https://github.com/siyuan-note/siyuan-chrome" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo-docker.png")
                h3 服务器
                | 非程序员请勿尝试
                a(class="download__link" href="https://hub.docker.com/r/b3log/siyuan" target="_blank" rel="nofollow") Docker 镜像
                a(class="download__link" href="https://github.com/siyuan-note/siyuan" target="_blank") 源代码
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo_.png")
                h3 内部预览
                | 重大变更前会发布内测版
                a(class="download__link" href="https://github.com/siyuan-note/insider" target="_blank" rel="nofollow") 访问内测仓库
            div(class="item")
                img(src="https://b3log.org/siyuan/static/logo.svg")
                h3 历史版本
                a(class="download__link" href="https://github.com/siyuan-note/siyuan/releases" target="_blank" rel="nofollow") 历史版本下载
        div(class="feature__hr")
        div(class="feature wrapper faq")
            div(class="faq__inner")
                h2(class="feature__title feature__title--1") 常见问题
                div(class="item")
                    h3 思源是如何存储数据的？
                    p 数据保存在工作空间文件夹下（默认位于用户家目录 Documents/SiYuan，可在
                        kbd 设置
                        | -
                        kbd 关于
                        | 中进行修改），在工作空间 data 文件夹下：
                    br
                    ul
                        li
                            code assets
                            |  用于保存所有插入的资源文件
                        li
                            code templates
                            |  用于保存模板片段
                        li
                            code widgets
                            |  用于保存挂件
                        li
                            code emojis
                            |  用于保存 Emoji 图片
                        li 其余文件夹就是用户自己创建的笔记本文件夹，笔记本文件夹下 <code>.sy</code> 后缀的文件用于保存文档数据，数据格式为 JSON
                div(class="item")
                    h3 思源是开源的吗？
                    p 思源笔记是完全开源的，欢迎参与贡献：
                    ul
                        li
                            a(href="https://github.com/siyuan-note/siyuan" target="_blank" class="download__link") 界面和内核
                        li
                            a(href="https://github.com/siyuan-note/siyuan-android" target="_blank" class="download__link") Android 端
                        li
                            a(href="https://github.com/siyuan-note/siyuan-ios" target="_blank" class="download__link") iOS 端
                        li
                            a(href="https://github.com/siyuan-note/siyuan-chrome" target="_blank" class="download__link") Chrome 剪藏扩展
                div(class="item")
                    h3 使用需要付费吗？
                    p 本地功能完全免费使用，云端服务需要
                        a(href="pricing.html" class="feature__a feature__a--white" style="margin-top: 0")
                            span 年付订阅
                            svg(height="16" viewBox="0 0 16 16" width="16" fill="#fff")
                                path(clip-rule="evenodd" d="m8.21967 2.96967c.29289-.29289.76777-.29289 1.06066 0l4.24997 4.25c.2929.29289.2929.76777 0 1.06066l-4.24997 4.24997c-.29289.2929-.76777.2929-1.06066 0s-.29289-.7677 0-1.0606l2.96963-2.9697h-7.4393c-.41421 0-.75-.33579-.75-.75s.33579-.75.75-.75h7.4393l-2.96963-2.96967c-.29289-.29289-.29289-.76777 0-1.06066z" fill-rule="evenodd")

        include layout/footer.pug
