@charset "utf-8";
/*
 * init, login and kill IE page style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.0.7, May 14, 2017
*/
html {
    background-color: #fff;
}
*,html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F3F1E5;
    color: #4D505D;
    font-family: \5fae\8f6f\96c5\9ed1;
    font-size: small;
}

.left {
    float: left;
}

.clear {
    background-color: transparent;
    border: 0px;
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
}

.wrap {
    border-top: 5px solid #E6E5D9;
    min-height: 400px;
}

.content {
    background-color: white;
    margin: 60px auto;
    width: 700px;
}

.icon {
    position: absolute;
    right: 0px;
    top: 0px;
    width:16px;
    height:16px;
}

.logo {
    float: left;
    padding: 162px 12px 0;
    width: 153px;
}
.main {
    border-left: 1px solid #E6E5D9;
    float: right;
    font-size: 15px;
    margin: 24px 0;
    padding: 12px 24px;
    width: 470px;
}

.kill {
    float: right;
    margin-top: -200px;
}

.main a {
    text-decoration: none;
}

.main ul {
    margin-bottom: 73px;
}

.main li {
    margin: 6px 0 6px 16px;
}

.main p {
    margin: 12px 0;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

.footer {
    color: #333;
    border-top: 1px solid #E0E0E0;
    box-shadow: 0 1px 1px white inset;
    line-height: 38px;
    padding: 10px 0;
    background-color: #FFF;
    text-align: right;
}

.footer img {
    height: 38px;
}