@charset "utf-8";
/*
 * style for lt IE9
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.0.0.4, Apr 8, 2012
*/

#timeline {
    color: #000;
    overflow: auto;
}

#timeline li, #timeline section {
    height: 200px;
    position: relative;
    border-bottom: 2px dotted #aaa;
    margin-top: 20px;
    padding: 0 0 20px 20px;
}

#timeline time, #timeline h2, #timeline h3 {
    display: block;
    margin-bottom: 15px;
}

#timeline time {
    line-height: 24px;
    font-weight: bold;
    font-size: 28px;
}

#timeline h2, #timeline h3 {
    font-size: 24px;
    line-height: 26px;
}

#timeline article {
    width: 500px;
    line-height: 20px;
}

#timeline figure {
    position: absolute;
    right: 60px;
    top: 0px;
    width: 360px;
    text-align: center;
}

#timeline cite, #timeline figcaption {
    display: block;
    color: #666;
    font-size: 11px;
    line-height: 14px;
    margin-top: 5px;
}

.header {
    background: url("../images/header-bg.png") repeat-x scroll left 111px #7B7973;
}


#sHeader {
     background: url("../images/header-bg.png") repeat-x scroll -78px 33px #7B7973;
}


.footer {
    background-color: #7B7973;
}

#themes .module, #news {
    background-color: #C3C3C1;
}

.module, #themesPreview span.info {
   background-color: #A6A49A;
}

.nav {
    background-color: #D5D5CD;
}

.nav ul {
    background-position: -94px 115px;
}

.share span:hover {
    filter: alpha(opacity=70);
}
