@charset "utf-8";
/*
 * b3log index style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.2.2.0, Jan 2, 2018
*/

/* start reset */
html {
    -webkit-text-size-adjust: 100%;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dd, dl, ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
}

a {
    outline: 0;
    text-decoration: none;
    color: #4285f4
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}
/* end reset */

/* start common */
.none {
    display: none;
}

.clear {
    background-color: transparent;
    border: 0px;
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;    
}

.ft-gray {
    color: #999;
}

.no-wrap {
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

.color-1 {
    color: #d23f31;
}

.color-2 {
    color: #b132ca;
}

.color-3 {
    color: #00732d;
}

.color-4 {
    color: #8A6600;
}

.bg-1 {
    background-color: #FF9900;
    background-image: linear-gradient(#FF9900, #FF6633);
    background-image: -ms-linear-gradient(#FF9900, #FF6633);
    background-image: -o-linear-gradient(#FF9900, #FF6633);
    background-image: -webkit-linear-gradient(#FF9900, #FF6633);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FF9900', endColorstr='#FF6633');
}

.bg-1 > h2 {
    background-color: #FFB252;
}

body > .wrapper {
    padding-top: 90px;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

.module-wrapper {
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 3px;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.module-title {
    border-radius: 3px 3px 0 0;
    background-color: #f9fafb;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}

.module-title .right {
    position: absolute;
    border-radius: 0 3px 0 0;
    color: #FFF;
    background-color: #d23f31;
    border-color: #c0372a;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 15px;
    right: 0;
    top: 0;
    text-shadow: 0 0 0;
}

.module-title a.right:hover {
    background-color: #c0372a;
    text-decoration: none;
}

.module-wrapper .panel {
    color: #FCFCFB;
    line-height: 22px;
    text-align: center;
}

.module-wrapper .panel h2 {
    display: block;
    font-size: 16px;
    margin-bottom: 11px;
    padding: 13px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* end common */

/* start nav */
.header {
    height: 48px;
    width: 100%;
    background-color: #4285f4;
    z-index: 83;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
    box-sizing: border-box;
    display: flex;
    line-height: 38px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    color: #fff;
}

.header h1 {
    margin: 0;
}

.header h1 > a {
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    line-height: 48px;
    text-decoration: none;
}

.header-intro {
    float: right;
}

.header-intro a {
    color: #fff;
    line-height: 48px;
    padding: 0 10px;
}

.header-intro a:hover {
    color: #fff;
}

.header-intro a.current {
    border-bottom: 2px solid #d23f31;
    padding: 0 10px 14px;
}
/* end nav */

/* start footer */
.footer {
    color: #333;
    border-top: 1px solid #E0E0E0;
    box-shadow: 0 1px 1px white inset;
    line-height: 38px;
    padding: 10px 0;
    background-color: #FFF;
    text-align: right;
}

.footer img {
    height: 38px;
}
/* end footer */

/* start part intro */
.intro-list ul {
    line-height: 30px;
    list-style: square outside none;
    margin: 10px 70px 10px 50px;
    width: 207px;
}

.news {
    float: right;
    margin-left: 30px;
    width: 470px;
}

.news .module-content {
    height: 171px;
    overflow: auto;
    background: url("../images/ajax-loader.gif") no-repeat scroll center center #fff;
}

.news .module-content li {
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 10px;
}

.news .module-content span {
    color: #AAA;
    font-size: 12px;
}

.news .module-content a { 
    color: #333;
}

.wide {
    float: left;
    width: 470px;
}

.wide ul {
    width: auto;
}
/* end part intro */

/* start part about */
.about ul {
    margin: 20px;
}

.about h3 {
    font-size: 15px;
}

.about p {
    margin: 0 0 17px 20px;
    width: 619px;
    line-height: 21px;
}

.about .module-wrapper {
    float: left;
}

.d3 {
    float: right;
    margin-left: 30px;
    width: 273px
}

.join > div {
    padding: 12px 24px;
}

.join > img {
    margin: 0 5px;
}
/* end part about */

/* start themes */
.fancybox-thumbs {
    height: 120px;
    overflow: hidden;
    width: 150px;
    border: 1px solid #CACACA;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 5px;
    position: relative;
}

.fancybox-thumbs > img {
    height: 165px;
}

.fancybox-thumbs > div {
    background-color: #EEEEEE;
    color: #555555;
    height: 100px;
    left: 150px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: left 0.3s ease-out 0s;
    white-space: normal;
    width: 130px;
}

.fancybox-thumbs:hover > div {
    left: 0;
}

.fancybox-thumbs h3 {   
    color: #D26911;
    font-size: 23px;
    line-height: 22px;
    margin-bottom: 10px;
}

.fancybox-thumbs span {   
    color: #4183C4;
}

.fancybox-thumbs span:hover {   
    text-decoration: underline;
}
/* end themes */

/* start donate */
.donate {
    padding: 100px 0 30px;
}

.donate p {
    padding: 50px 96px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    line-height: 28px;
}

.donate .donate-img {
    float: left;
    margin: 50px 96px;
    width: 300px;
}
/* end donate */

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 0;
        position: relative;
    }

    .header-intro a {
        padding: 0 8px;
    }

    .wrapper {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .donate,
    body > .wrapper {
        padding-top: 30px;
    }

    .donate p {
        padding: 10px;
    }

    .donate .donate-img {
        float: none;
        width: 100%;
        margin: 0;
    }

    body {
        padding-top: 0 !important;
    }

    .time-line {
        display: none;
    }

    .wide,
    .news,
    .about .module-wrapper,
    .d3,
    .about p {
        width: 100% !important;
    }

    .intro-list ul {
        margin: 10px 10px 10px 30px;
    }

    .about p {
        margin: 0;
    }
}