@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

body {
    background-color: #fafbfc;
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.fn__flex-1 {
    flex: 1;
}

.home {
    height: calc(100vh + 31px);
    background-color: #040d21;
}

.home__bg {
    top: 50%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: none;
    z-index: 1;
}

.header {
    padding: 8px 16px;
    position: relative;
    display: flex;
    z-index: 3;
}

.header__logo img {
    width: 32px;
    height: 32px;
    float: left;
}

.header__logo h1 {
    display: none;
}

.header__a {
    align-self: center;
    text-decoration: none;
    margin-left: 24px;
    color: #fff;
    transition: opacity .4s;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.header__a:hover {
    opacity: 0.75;
}

.header__menu {
    display: none;
    animation: dropdown-display .4s cubic-bezier(.73, .005, .22, 1);
    box-shadow: 0 3px 12px rgb(27 31 35 / 15%), 0 0 1px rgb(27 31 35 / 20%);
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    right: 0;
    padding: 16px 16px 8px 16px;
}

.header__menu .item {
    color: #24292e;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    margin-bottom: 8px;
}

.header__menu .item:hover {
    color: #0366d6;
}

.header__lang {
    align-self: center;
    position: relative;
}

.header__lang:hover .header__menu {
    display: block;
}

.home__panel {
    position: relative;
    height: 100vh;
    top: -32px;
    width: 100%;
    z-index: 2;
    padding: 0;
}

.home__slogan {
    color: #fff;
    font-size: 56px;
    line-height: 72px;
}

.home__desc {
    color: #8193b2;
    font-size: 24px;
    margin-top: 48px;
}

.home__download {
    color: #fff;
    background-color: #4969ed;
    background-image: linear-gradient(-180deg, #617eef, #4969ed);
    padding: 8px 48px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    align-self: baseline;
    margin-top: 48px;
}

.home__download--nav {
    margin-top: 0;
    align-self: center;
}

.home__download:hover {
    opacity: .75;
    transition: opacity .4s;
}

.home__side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    padding: 0 32px 0 16px;
    position: absolute;
    height: 100vh;
    top: 0;
}

.home__img {
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second {
    position: relative;
    z-index: 2;
    text-align: center;
}

.second__type {
    color: #212224;
    font-size: 48px;
    line-height: 56px;
    height: 56px;
    padding: 0 16px;
    margin-top: 64px;
}

.second__caret {
    width: 4px;
    height: 56px;
    background-color: #292a2d;
    margin-left: 5px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    display: inline-block;
    vertical-align: bottom;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: #fff;
    padding: 8px 16px;
    box-shadow: 0 2.76726px 2.21381px rgb(0 0 0 / 7%), 0 6.6501px 5.32008px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 3%), 0 22.3363px 17.869px rgb(0 0 0 / 3%), 0 41.7776px 33.4221px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%), 0 1px 0 0 rgb(4 13 33 / 10%);
}

.navigation__warp {
    display: flex;
}

.navigation .item {
    font-size: 14px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.navigation .item span {
    padding: 8px 0;
    line-height: 24px;
    color: #6a737d;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.navigation .item:hover span {
    color: #040d21;
}

.navigation .item--select span {
    border-color: #2188ff;
    color: #040d21;
}

.feature {
    padding: 128px 0;
    background-color: #040d21;
}

.feature--2 {
    background-color: #fff;
}

.feature__info {
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature__title {
    font-size: 64px;
    line-height: 68px;
    -webkit-box-decoration-break: clone;
    display: inline-block;
    margin: 0;
    color: #24292e;
}

.feature__title--1 {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg, #a2facf, #64acff);
    -webkit-background-clip: text;
}

.feature__title--2 {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg, #db469f, #2188ff);
    -webkit-background-clip: text;
}

.feature__title--3 {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg, #3bf0e4, #bca1f7);
    -webkit-background-clip: text;
}

.feature__title--4 {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg, #9867f0, #ed4e50);
    -webkit-background-clip: text;
}

.feature__title--5 {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg, #ff7170, #ffe57f);
    -webkit-background-clip: text;
}

.feature__desc {
    font-weight: normal;
    color: #8193b2;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.feature__black {
    color: #040d21;
}

.feature__primary {
    color: #fff;
}

.feature__imgs {
    position: relative;
}

.feature__img {
    border-radius: 8px;
    position: relative;
    z-index: 1;
    background: #0c162d;
    box-shadow: 0 0 0 1px hsl(0deg 0% 100% / 10%), 0 34px 65px #040d21, 0 2.76726px 2.21381px rgb(0 0 0 / 7%), 0 6.6501px 5.32008px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 3%), 0 22.3363px 17.869px rgb(0 0 0 / 3%), 0 41.7776px 33.4221px rgb(0 0 0 / 2%), 0 100px 80px rgb(0 0 0 / 2%);
}

.feature__img--white {
    box-shadow: 0 0 0 1px rgb(53 72 91 / 10%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
}

.feature__img--red {
    box-shadow: 0 0 65px rgb(237 78 80 / 40%), 0 0 0 1px hsl(0deg 0% 100% / 10%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
}

.feature__two {
    display: flex;
    flex-direction: row-reverse;
}

.feature__two--row {
    flex-direction: row;
}

.feature__space {
    width: 48px;
}

.feature__hr {
    height: 64px;
}

.feature__a {
    color: #040d21;
    text-decoration: none;
    margin-top: 16px;
    display: inline-flex;
    align-items: center;
}

.feature__a span {
    border-bottom: 2px solid #040d21;
}

.feature__a svg {
    margin-left: 8px;
    transition: all .2s;
}

.feature__a:hover svg {
    transition: transform .2s;
    transform: translateX(3px);
}

.footer {
    padding: 24px 0;
}

.footer .item {
    font-size: 12px;
    color: #586069;
    margin-right: 16px;
    text-decoration: none;
}

.footer .icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.footer svg {
    fill: #586069;
}

.footer .icon:hover svg {
    fill: #0366d6;
}

.footer a.item:hover {
    color: #0366d6;
    text-decoration: underline;
}

.footer__inner {
    align-items: center;
    display: flex;
}
