html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
}

::-moz-selection {
    text-shadow: none;
    background: rgba(65, 131, 196, 0.4);
}

::selection {
    text-shadow: none;
    background: rgba(66, 133, 244, 0.4)
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
p {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}

a {
    outline: 0;
    text-decoration: none;
    color: #4285f4;
}

a:hover {
    text-decoration: underline;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    overflow: hidden;
    font-size: 12px;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    outline: none;
    border-width: 0;
}

button,
input {
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

svg {
    fill: currentColor;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    width: 14px;
    height: 14px;
}

blockquote {
    margin: 0;
}

.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.header-logo:hover {
    animation: zomg 3s infinite;
}

@keyframes zomg {
    0% {
        color: #4285f4
    }

    30% {
        color: #d23f31
    }

    60% {
        color: #3b3e43
    }

    100% {
        color: #fff
    }
}

.header {
    position: relative;
    z-index: 1;
}

.header img {
    float: left;
    height: 46px;
    width: 46px;
    margin: 10px 5px 10px 20px;
}

.header h1 {
    float: left;
    margin-top: 10px;
}

.header div {
    float: right;
    line-height: 66px;
}

.header-a {
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 20px;
    float: left;
}

.header-a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.header-a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #563d7c;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform .3s ease-out;
}

.header-a:hover:before {
    transform: scaleY(1);
}

.header-green:before {
    background-color: #569e3d;
}

.header-orange:before {
    background-color: #ffac45;
}

.header-yellow:before {
    background-color: #f1e05a;
}

.header-red:before {
    background-color: #d23f31;
}

.bg {
    position: relative;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://sqimg.qq.com/qq_product_operations/im/2015/blog.jpg);
}

.first-screen {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://sqimg.qq.com/qq_product_operations/im/2015/blog.jpg);
}

.first-screen .required {
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0px 2px rgba(255, 255,255, 1);
    margin-top: 50px;
}

.first-screen .scroll {
    overflow: hidden;
    display: inline-block;
    height: 47px;
    border-bottom: 2px solid #d23f31;
    vertical-align: text-bottom;
    color: #fff;
    text-shadow: 0 0 0;
}

.first-screen .scroll ul {
    animation: scroll 15s cubic-bezier(0.545,0.035,0.255,1) normal forwards;
}

@keyframes scroll {
    0% {
        transform: translateY(0px)
    }

    5% {
        transform: translateY(0px)
    }

    10% {
        transform: translateY(-54px)
    }

    15% {
        transform: translateY(-54px)
    }

    20% {
        transform: translateY(-108px)
    }

    25% {
        transform: translateY(-108px)
    }

    30% {
        transform: translateY(-162px)
    }

    35% {
        transform: translateY(-162px)
    }

    40% {
        transform: translateY(-216px)
    }

    45% {
        transform: translateY(-216px)
    }

    50% {
        transform: translateY(-270px)
    }

    55% {
        transform: translateY(-270px)
    }

    60% {
        transform: translateY(-324px)
    }

    65% {
        transform: translateY(-324px)
    }

    70% {
        transform: translateY(-378px)
    }

    75% {
        transform: translateY(-378px)
    }

    80% {
        transform: translateY(-432px)
    }

    85% {
        transform: translateY(-432px)
    }

    90% {
        transform: translateY(-486px)
    }

    95% {
        transform: translateY(-486px)
    }

    100% {
        transform: translateY(-486px)
    }
}

.first-screen .btn {
    color: #fff;
    background-color: #4285f4;
    border-radius: 3px;
    padding: 10px;
    display: block;
    width: 160px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 20px;
}

.first-screen .btn:hover {
    background-color: #569e3d;
    text-decoration: none;
}

.first-screen .btn:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.25) inset;
}

.first-screen .panel img {
    width: 900px;
    display: block;
    position: absolute;
    bottom: -137px;
    left: 50%;
    margin-left: -450px;
    z-index: 2;
}