html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #3b3e43;
}

::-moz-selection {
    text-shadow: none;
    background: rgba(65, 131, 196, 0.4);
}

::selection {
    text-shadow: none;
    background: rgba(66, 133, 244, 0.4)
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
p {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}

a {
    outline: 0;
    text-decoration: none;
    color: #4285f4;
}

a:hover {
    text-decoration: underline;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    overflow: hidden;
    font-size: 12px;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    outline: none;
    border-width: 0;
}

button,
input {
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

svg {
    fill: currentColor;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    width: 14px;
    height: 14px;
}

blockquote {
    margin: 0;
}

.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.fn-hr {
    height: 50px;
    display: block;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.btn {
    color: #fff;
    background-color: #4285f4;
    border-radius: 3px;
    padding: 10px;
    display: block;
    width: 160px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 20px;
    position: relative;
    z-index: 3;
}

.btn:hover {
    text-decoration: none;
    animation: btnbg 3s infinite;
}

@keyframes btnbg {
    0% {
        background-color: #4285f4;
    }

    25% {
        background-color: #d23f31;
    }

    50% {
        background-color: #3b3e43;
    }

    75% {
        background-color: #f1e05a;
    }
}

.btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
}

.important {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(252, 41, 41, 0.12);
    border-radius: 3px;
    color: #d23f31;
    font-family: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.wrapper {
    width: 900px;
    margin: 100px auto;
}

.header-logo:hover {
    animation: zomg 3s infinite;
}

@keyframes zomg {
    0% {
        color: #4285f4
    }

    25% {
        color: #d23f31
    }

    50% {
        color: #3b3e43
    }

    75% {
        color: #f1e05a
    }
}

.header {
    position: relative;
    z-index: 1;
}

.header img {
    float: left;
    height: 46px;
    width: 46px;
    margin: 10px 5px 10px 20px;
}

.header h1 {
    float: left;
    margin-top: 10px;
}

.header div {
    float: right;
    line-height: 66px;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 7px;
    border-bottom: 1px solid #e1e4e8;
}

.header-a {
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 20px 0 17px;
    float: left;
}

.header-a.current,
.header-a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.header-a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3e43;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform .3s ease-out;
    margin-left: -3px;
}

.header-a.current:before,
.header-a:hover:before {
    transform: scaleY(1);
}

.header-green:before {
    background-color: #4285f4;
}

.header-yellow:before {
    background-color: #f1e05a;
}

.header-red.current:before,
.header-red:before {
    background-color: #d23f31;
}

/* start intro */
.intro {
    width: 700px;
}

.intro ul {
    line-height: 40px;
    margin: 0 15px 0 35px;
}

.intro label {
    color: rgba(0,0,0,0.54);
    font-size: 16px;
}

.intro input {
    border: 1px solid #d1d5da;
    background-color: #FAFAFA;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
    padding: 7px 8px;
    line-height: 17px;
    color: #3b3e43;
    box-sizing: border-box;
    margin: 0 10px;
    width: 187px;
    font-size: 14px;
}

.intro input:focus {
    background-color: #FFF;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em #dbedff;
    border: 1px solid #4285f4;
}

.intro .btn {
    display: inline-block;
    margin: 0;
}

/* start themes */
.themes {
    border: 2px solid #e1e4e8;
    box-shadow: 0 0 10px #e1e4e8;
}
.fancybox-thumbs {
    height: 225px;
    overflow: hidden;
    float: left;
    position: relative;
    width: 25%;
    border: 2px solid #e1e4e8;
    box-sizing: border-box;
}

.fancybox-thumbs > span {
    display: block;
    height: 225px;
    background-color: rgba(0,0,0,0.02);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s ease-out 0s;
}

.fancybox-thumbs > div {
    background: rgba(0,0,0,.6);
    left: 100%;
    position: absolute;
    text-align: center;
    transition: left 0.3s ease-out 0s;
    white-space: normal;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 22px;
    padding-top: 77px;
    z-index: 1;
}

.fancybox-thumbs:hover > div {
    left: 0;
}

.fancybox-thumbs:hover > span {
    transform: scale(1.2) translateZ(0);
}

.fancybox-thumbs h3 {
    color: #d23f31;
    font-size: 23px;
    line-height: 22px;
    margin-bottom: 10px;
}

.fancybox-thumbs span {
    color: #4285f4;
}

.fancybox-thumbs span:hover {
    text-decoration: underline;
}
/* end themes */


.panel-abstract {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
    padding: 50px 0;
}

.panel-abstract h2 {
    font-size: 50px;
    margin: 50px 0 30px;
    color: #4285f4;
    animation: zomg 3s infinite;
}

.panel-abstract h3 {
    color: #3b3e43;
    margin-top: 30px;
}

.trait ul {
    float: left;
    width: 300px;
    line-height: 40px;
    padding: 20px 20px 20px 30px;
    box-sizing: border-box;
}

.third-item {
    border-top: 1px solid #e1e4e8;
    border-bottom: 1px solid #e1e4e8;
    padding: 100px 30px;
}

.third-item ul {
    margin-left: 28px;
    line-height: 40px;
}

.third-item h2 {
    margin-bottom: 20px;
}

.contact-item {
    width: 30%;
    float: left;
    margin-left: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 10px 30px;
    box-sizing: border-box;
    transition: all .15s ease-in-out;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    color: #3b3e43;
}

.contact-item:first-child {
    margin-left: 0;
}

.contact-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #4285f4;
}

.contact-item--red:hover {
    background-color: #d23f31;
}

.contact-item--black:hover {
    background-color: #3b3e43;
}

.contact-item svg {
    display: block;
    height: 60px;
    width: 60px;
    margin: 30px auto;
}

.footer {
    color: #7d8186;
    line-height: 24px;
    padding: 10px 0;
    background-color: #3b3e43;
    font-size: 14px;
}

.footer a {
    color: #afb1b3;
}

.footer a:hover {
    color: #888f91;
    text-decoration: none;
}

.footer .copyright {
    padding-top: 30px;
    border-top: 1px solid #7d8186;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .wrapper {
        width: auto;
        margin: 30px 10px;
    }

    .fancybox-thumbs {
        width: 100%;
    }

    .btn {
        margin-top: 30px;
    }

    .header-logo h1 {
        display: none;
    }

    .form {
        text-align: center;
    }

    .form label {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .trait ul {
        padding-top: 0;
        padding-bottom: 0;
    }

    .third-item {
        padding: 30px 0;
    }

    .contact-item {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .fn-right {
        float: none;
        margin-top: 20px;
    }

    .fn-left {
        float: none;
    }
}